@font-face {
    font-family: 'Dancing';
    src: local('Dancing'),
    url('./assets/fonts/DancingScript-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Bungee-Regular';
    src: local('Bungee-Regular'),
    url('./assets/fonts/Bungee-Regular.ttf');
}
@font-face {
    font-family: 'Bungee-Outline';
    src: local('Bungee-Outline'),
    url('./assets/fonts/BungeeOutline-Regular.ttf');
}
@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'),
    url('./assets/fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'PermanentMarker';
    src: local('PermanentMarker'),
    url('./assets/fonts/PermanentMarker-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PermanentMarker';
    background-color: #ACDDB5 ;
}

.permMark{
    font-family: 'PermanentMarker';
}

.bungeeReg{
    font-family: 'Bungee-Regular';
}

.bungeeOut {
    font-family: 'Bungee-Outline';
}


.heading-sec__main {
    display: block;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
    margin-top: 3.5rem;
}


.heading-sec__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 20px;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}



.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.heading-sec__mb-bg {
    margin-bottom: 11rem;
} 